รวมงานครูดำรง/covid.txt
[{"id":"6630376e.ea31b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9b7e66bf.f6a568","type":"http request","z":"6630376e.ea31b8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":340,"wires":[["dd288ab0.e7f3d8"]]},{"id":"9df932b2.7e6d8","type":"debug","z":"6630376e.ea31b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":340,"wires":[]},{"id":"64e0c270.12e31c","type":"ui_button","z":"6630376e.ea31b8","name":"","group":"e790e6f0.7c33d8","order":17,"width":0,"height":0,"passthru":false,"label":"update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":340,"wires":[["9b7e66bf.f6a568"]]},{"id":"b1f1d56f.308258","type":"ui_text","z":"6630376e.ea31b8","group":"e790e6f0.7c33d8","order":0,"width":0,"height":0,"name":"","label":"Confirmed","format":"{{msg.payload.Confirmed}}","layout":"row-spread","x":1010,"y":400,"wires":[]},{"id":"669a64e6.24281c","type":"inject","z":"6630376e.ea31b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["9b7e66bf.f6a568"]]},{"id":"dd288ab0.e7f3d8","type":"json","z":"6630376e.ea31b8","name":"","property":"payload","action":"","pretty":false,"x":650,"y":340,"wires":[["9df932b2.7e6d8","b1f1d56f.308258","2b08d128.f2cd5e","505240f5.bfffa","29d0d07b.414f9"]]},{"id":"2b08d128.f2cd5e","type":"ui_text","z":"6630376e.ea31b8","group":"e790e6f0.7c33d8","order":0,"width":0,"height":0,"name":"","label":"Recovered","format":"{{msg.payload.Recovered}}","layout":"row-spread","x":1010,"y":460,"wires":[]},{"id":"505240f5.bfffa","type":"ui_text","z":"6630376e.ea31b8","group":"e790e6f0.7c33d8","order":0,"width":0,"height":0,"name":"","label":"Hospitalized","format":"{{msg.payload.Hospitalized}}","layout":"row-spread","x":1010,"y":540,"wires":[]},{"id":"c18b430.2299ec","type":"http in","z":"6630376e.ea31b8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":400,"wires":[["9b7e66bf.f6a568"]]},{"id":"b2d864c9.b93638","type":"http response","z":"6630376e.ea31b8","name":"","statusCode":"","headers":{},"x":1190,"y":280,"wires":[]},{"id":"29d0d07b.414f9","type":"tableify","z":"6630376e.ea31b8","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":1000,"y":280,"wires":[["b2d864c9.b93638"]]},{"id":"8a66af4.6b3565","type":"http in","z":"6630376e.ea31b8","name":"","url":"/superfight","method":"get","upload":false,"swaggerDoc":"","x":230,"y":580,"wires":[["2a532cc5.215684"]]},{"id":"2a532cc5.215684","type":"http request","z":"6630376e.ea31b8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://th.y8.com/games/superfighters","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":580,"wires":[["71cabe6e.b4bb"]]},{"id":"71cabe6e.b4bb","type":"http response","z":"6630376e.ea31b8","name":"","statusCode":"","headers":{},"x":690,"y":580,"wires":[]},{"id":"2ded651c.7c737a","type":"debug","z":"6630376e.ea31b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":760,"wires":[]},{"id":"e0ff3647.614ab8","type":"http in","z":"6630376e.ea31b8","name":"","url":"/share","method":"get","upload":false,"swaggerDoc":"","x":360,"y":780,"wires":[["807c492.92d4bb8"]]},{"id":"a035bcda.aedca","type":"http response","z":"6630376e.ea31b8","name":"","statusCode":"","headers":{},"x":770,"y":800,"wires":[]},{"id":"807c492.92d4bb8","type":"function","z":"6630376e.ea31b8","name":"","func":"msg.payload = {\"ความชื่น\":global.get(\"Hu\"),\"อุณหภูมิ\":global.get(\"Temp\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":760,"wires":[["2ded651c.7c737a","a035bcda.aedca"]]},{"id":"91d10e09.0cf91","type":"inject","z":"6630376e.ea31b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1080,"wires":[["4e8f14f2.726f3c"]]},{"id":"b8875c7d.2f107","type":"function","z":"6630376e.ea31b8","name":"message","func":"var message = \"\\nอับเดทล่าสุด: \"+msg.payload.UpdateDate+\"\\n\";\nmessage += \"ผู้ติดเชื้อสะสม: \"+msg.payload.Confirmed+\" ( \"+msg.payload.NewConfirmed+\" )\\n\";\nmessage += \"หายแล้ว: \"+msg.payload.Recovered+\" ( \"+msg.payload.NewRecovered+\" )\\n\";\nmessage += \"รักษาอยู่: \"+msg.payload.Hospitalized+\" ( \"+msg.payload.NewHospitalized+\" )\\n\";\nmessage += \"เสียชีวิต: \"+msg.payload.Deaths+\" ( \"+msg.payload.NewDeaths+\" )\\n\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1060,"wires":[["687f5990.529278"]]},{"id":"687f5990.529278","type":"function","z":"6630376e.ea31b8","name":"line","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer 4jo48bO8no2B7YKxbD4gWO7T5VoMf5QoRi0byWJQRXk'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1060,"wires":[["cfbd4fb9.1eb92"]]},{"id":"4e8f14f2.726f3c","type":"http request","z":"6630376e.ea31b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1080,"wires":[["b8875c7d.2f107"]]},{"id":"cfbd4fb9.1eb92","type":"http request","z":"6630376e.ea31b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":1060,"wires":[["674c7013.19d59"]]},{"id":"674c7013.19d59","type":"debug","z":"6630376e.ea31b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1040,"wires":[]},{"id":"b043b0f3.d9708","type":"function","z":"6630376e.ea31b8","name":"","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer 4jo48bO8no2B7YKxbD4gWO7T5VoMf5QoRi0byWJQRXk'\n};\nmsg.payload = {\"message\":\"\\nความชื่น : \"+global.get(\"Hu\")+\n\" %\"+\"\\nอุณหภูมิ : \"+global.get(\"Temp\")+\" *C\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":920,"wires":[["cfbd4fb9.1eb92"]]},{"id":"718fd38b.9229ec","type":"inject","z":"6630376e.ea31b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":920,"wires":[["b043b0f3.d9708"]]},{"id":"e4dfa056.cbc45","type":"ui_button","z":"6630376e.ea31b8","name":"","group":"d33a49e9.57d4a8","order":9,"width":0,"height":0,"passthru":false,"label":"send dht","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":960,"wires":[["b043b0f3.d9708"]]},{"id":"8970b18f.ce16a","type":"ui_button","z":"6630376e.ea31b8","name":"","group":"e790e6f0.7c33d8","order":9,"width":0,"height":0,"passthru":false,"label":"send covid","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1140,"wires":[["4e8f14f2.726f3c"]]},{"id":"e790e6f0.7c33d8","type":"ui_group","name":"Covid 19 status in Thailand","tab":"13f79511.7cd18b","order":3,"disp":true,"width":"6","collapse":false},{"id":"d33a49e9.57d4a8","type":"ui_group","name":"status","tab":"13f79511.7cd18b","order":2,"disp":true,"width":"6","collapse":false},{"id":"13f79511.7cd18b","type":"ui_tab","name":"Home2","icon":"dashboard","disabled":false,"hidden":false}]