รวมงานครูดำรง/share.notepad.txt
[{"id":"a29907c5.29e918","type":"http in","z":"2ef1a5de.b29f1a","name":"","url":"/kingkp","method":"get","upload":false,"swaggerDoc":"","x":210,"y":280,"wires":[["f7ff4cf7.37529"]]},{"id":"f7ff4cf7.37529","type":"file in","z":"2ef1a5de.b29f1a","name":"","filename":"G:\\kaopun\\kplearn nodered\\data.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":300,"wires":[["12d6ce90.4e8791"]]},{"id":"12d6ce90.4e8791","type":"json","z":"2ef1a5de.b29f1a","name":"","property":"payload","action":"","pretty":false,"x":770,"y":300,"wires":[["6451bddf.777264","99ead4f9.ec5d48"]]},{"id":"99ead4f9.ec5d48","type":"http response","z":"2ef1a5de.b29f1a","name":"","statusCode":"","headers":{},"x":1030,"y":280,"wires":[]},{"id":"6451bddf.777264","type":"debug","z":"2ef1a5de.b29f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"a903dea9.c88eb","type":"inject","z":"2ef1a5de.b29f1a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["f7ff4cf7.37529"]]}]