รวมงานครูดำรง/carcontrol/carcontrol.txt
[{"id":"ee9b1648.9c3918","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"68958b01.e7cd24","type":"mqtt in","z":"ee9b1648.9c3918","name":"car","topic":"car","qos":"2","datatype":"auto","broker":"36815b40.28cf34","x":670,"y":180,"wires":[["10350882.052be7"]]},{"id":"2ea4e152.25d91e","type":"mqtt out","z":"ee9b1648.9c3918","name":"car","topic":"car","qos":"","retain":"","broker":"36815b40.28cf34","x":430,"y":180,"wires":[]},{"id":"d877628b.a1197","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":8,"width":0,"height":0,"passthru":false,"label":"forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"forward","payloadType":"str","topic":"","x":170,"y":140,"wires":[["2ea4e152.25d91e"]]},{"id":"6411cc7.67e8334","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":9,"width":0,"height":0,"passthru":false,"label":"left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":140,"y":220,"wires":[["2ea4e152.25d91e"]]},{"id":"2bcf7bec.c705f4","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":10,"width":0,"height":0,"passthru":false,"label":"right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":140,"y":300,"wires":[["2ea4e152.25d91e"]]},{"id":"60d1189b.5e01d8","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":11,"width":0,"height":0,"passthru":false,"label":"back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":140,"y":380,"wires":[["2ea4e152.25d91e"]]},{"id":"ad0862a9.2d29a","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":12,"width":0,"height":0,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":140,"y":460,"wires":[["2ea4e152.25d91e"]]},{"id":"9ddd7553.2446d8","type":"ui_button","z":"ee9b1648.9c3918","name":"","group":"b0b98f4f.2c753","order":13,"width":0,"height":0,"passthru":false,"label":"beep","tooltip":"","color":"","bgcolor":"","icon":"","payload":"beep","payloadType":"str","topic":"","x":140,"y":540,"wires":[["2ea4e152.25d91e"]]},{"id":"10350882.052be7","type":"debug","z":"ee9b1648.9c3918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"36815b40.28cf34","type":"mqtt-broker","name":"esp32","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0b98f4f.2c753","type":"ui_group","name":"Carcontrol","tab":"13f79511.7cd18b","order":4,"disp":true,"width":"6","collapse":false},{"id":"13f79511.7cd18b","type":"ui_tab","name":"Home2","icon":"dashboard","disabled":false,"hidden":false}]