รวมงานครูดำรง/nodered_button_slider_dht22/All.txt
[{"id":"868294ef.afc6c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"109d570a.2e6ab9","type":"http in","z":"868294ef.afc6c8","name":"","url":"/kingkp","method":"get","upload":false,"swaggerDoc":"","x":210,"y":480,"wires":[["dcdccc5f.eb403"]]},{"id":"dcdccc5f.eb403","type":"file in","z":"868294ef.afc6c8","name":"","filename":"G:\\kaopun\\kplearn nodered\\data.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":500,"wires":[["a361332e.e4325"]]},{"id":"a361332e.e4325","type":"json","z":"868294ef.afc6c8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":500,"wires":[["c56b7f1a.447c","7f3f4629.d6e9d8"]]},{"id":"7f3f4629.d6e9d8","type":"http response","z":"868294ef.afc6c8","name":"","statusCode":"","headers":{},"x":1030,"y":480,"wires":[]},{"id":"c56b7f1a.447c","type":"debug","z":"868294ef.afc6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":520,"wires":[]},{"id":"75001876.19c1b8","type":"inject","z":"868294ef.afc6c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":520,"wires":[["dcdccc5f.eb403"]]},{"id":"62ee1f13.a969","type":"mqtt out","z":"868294ef.afc6c8","name":"","topic":"/topic","qos":"","retain":"","broker":"9d183c42.8a17c","x":530,"y":860,"wires":[]},{"id":"9cd1b9af.5ab8e8","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"/topic1/data","qos":"2","datatype":"auto","broker":"1723f905.1a5b07","x":910,"y":840,"wires":[["da0859b6.c353c8"]]},{"id":"131862a0.cdd83d","type":"inject","z":"868294ef.afc6c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Sawasdee karuay","payloadType":"str","x":310,"y":920,"wires":[["62ee1f13.a969"]]},{"id":"da0859b6.c353c8","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":840,"wires":[]},{"id":"3f885702.301678","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"/topic2/data","qos":"2","datatype":"auto","broker":"1723f905.1a5b07","x":910,"y":920,"wires":[["ada18771.2fffa8"]]},{"id":"ada18771.2fffa8","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":920,"wires":[]},{"id":"73f4369d.481288","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"/topic3/data","qos":"2","datatype":"auto","broker":"1723f905.1a5b07","x":910,"y":1000,"wires":[["6f41c367.a9866c"]]},{"id":"6f41c367.a9866c","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":1000,"wires":[]},{"id":"58d1d4d7.db2a9c","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"/topic","qos":"2","datatype":"auto","broker":"9d183c42.8a17c","x":890,"y":760,"wires":[["ba17175c.aaf148"]]},{"id":"ba17175c.aaf148","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":760,"wires":[]},{"id":"c9cb85b2.d2a308","type":"inject","z":"868294ef.afc6c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"อยากเลิกกับโบนัส","payloadType":"str","x":320,"y":840,"wires":[["62ee1f13.a969"]]},{"id":"5eca2cfb.358cf4","type":"ui_slider","z":"868294ef.afc6c8","name":"","label":"slider","tooltip":"","group":"6537cef0.860c","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"esp32","min":0,"max":10,"step":1,"x":350,"y":1260,"wires":[["6a603711.c3b558","fb9948d5.31ef78","baf7b221.ad4ce"]]},{"id":"d924e4e8.655aa8","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1420,"wires":[]},{"id":"b671abe3.d58dc8","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"esp32","qos":"2","datatype":"auto","broker":"36815b40.28cf34","x":770,"y":1380,"wires":[["d924e4e8.655aa8","30787f1b.449bc"]]},{"id":"6a603711.c3b558","type":"mqtt out","z":"868294ef.afc6c8","name":"","topic":"esp32","qos":"","retain":"","broker":"36815b40.28cf34","x":630,"y":1380,"wires":[]},{"id":"f1956ff6.3a0dd","type":"ui_switch","z":"868294ef.afc6c8","name":"","label":"switch","tooltip":"","group":"6537cef0.860c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"esp32","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":370,"y":1400,"wires":[["6a603711.c3b558","d924e4e8.655aa8"]]},{"id":"fb9948d5.31ef78","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1300,"wires":[]},{"id":"755af9ef.f6a658","type":"ui_button","z":"868294ef.afc6c8","name":"","group":"6537cef0.860c","order":3,"width":0,"height":0,"passthru":false,"label":"Flashing","tooltip":"","color":"","bgcolor":"","icon":"","payload":"flashing","payloadType":"str","topic":"esp32","x":380,"y":1340,"wires":[["6a603711.c3b558"]]},{"id":"a174f9d.9107308","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"esptemp","qos":"2","datatype":"json","broker":"36815b40.28cf34","x":620,"y":1720,"wires":[["e18dffe4.c5618","d924e4e8.655aa8","a3f5b651.d269f8","837d395f.6d71a8","25f841d.45994be"]]},{"id":"e7764db4.3bb1d","type":"ui_gauge","z":"868294ef.afc6c8","name":"","group":"d33a49e9.57d4a8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":1540,"wires":[]},{"id":"4c907d88.e70f04","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"esphu","qos":"2","datatype":"json","broker":"36815b40.28cf34","x":690,"y":1560,"wires":[["e7764db4.3bb1d","20972405.35721c","d924e4e8.655aa8","3841ded2.993922","3e3c6a26.467b26"]]},{"id":"e18dffe4.c5618","type":"ui_audio","z":"868294ef.afc6c8","name":"","group":"6537cef0.860c","voice":"Google UK English Female","always":"","x":920,"y":1880,"wires":[]},{"id":"20972405.35721c","type":"ui_audio","z":"868294ef.afc6c8","name":"","group":"6537cef0.860c","voice":"Google UK English Female","always":"","x":1020,"y":1640,"wires":[]},{"id":"30787f1b.449bc","type":"ui_audio","z":"868294ef.afc6c8","name":"","group":"6537cef0.860c","voice":"Google UK English Female","always":"","x":1000,"y":1340,"wires":[]},{"id":"baf7b221.ad4ce","type":"ui_gauge","z":"868294ef.afc6c8","name":"","group":"6537cef0.860c","order":7,"width":0,"height":0,"gtype":"donut","title":"Brightness","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":1260,"wires":[]},{"id":"a59761a7.8a117","type":"ui_text_input","z":"868294ef.afc6c8","name":"","label":"","tooltip":"","group":"6537cef0.860c","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":360,"y":1160,"wires":[["759208a2.f1d428"]]},{"id":"8136c868.e1ec48","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"text","qos":"2","datatype":"auto","broker":"36815b40.28cf34","x":690,"y":1160,"wires":[["9223270c.7b2d18"]]},{"id":"759208a2.f1d428","type":"mqtt out","z":"868294ef.afc6c8","name":"","topic":"text","qos":"","retain":"","broker":"36815b40.28cf34","x":520,"y":1160,"wires":[]},{"id":"9223270c.7b2d18","type":"ui_text","z":"868294ef.afc6c8","group":"6537cef0.860c","order":15,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":1160,"wires":[]},{"id":"9bbda692.85f968","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"button","qos":"2","datatype":"auto","broker":"36815b40.28cf34","x":1070,"y":1840,"wires":[["654f74f6.8eb1fc","256354d1.c7495c"]]},{"id":"654f74f6.8eb1fc","type":"ui_text","z":"868294ef.afc6c8","group":"d33a49e9.57d4a8","order":16,"width":0,"height":0,"name":"","label":"Button State:","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":1820,"wires":[]},{"id":"256354d1.c7495c","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":1860,"wires":[]},{"id":"a3f5b651.d269f8","type":"ui_gauge","z":"868294ef.afc6c8","name":"","group":"d33a49e9.57d4a8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":1820,"wires":[]},{"id":"34e11cca.35c224","type":"ui_button","z":"868294ef.afc6c8","name":"","group":"d33a49e9.57d4a8","order":3,"width":0,"height":0,"passthru":false,"label":"Tempchecking","tooltip":"","color":"","bgcolor":"","icon":"","payload":"temp checking","payloadType":"str","topic":"","x":420,"y":1500,"wires":[["6a603711.c3b558","a3f5b651.d269f8"]]},{"id":"edb2de6.c84882","type":"ui_button","z":"868294ef.afc6c8","name":"","group":"d33a49e9.57d4a8","order":3,"width":0,"height":0,"passthru":false,"label":"Humiditychecking","tooltip":"","color":"","bgcolor":"","icon":"","payload":"humidity checking","payloadType":"str","topic":"","x":670,"y":1500,"wires":[["e7764db4.3bb1d","6a603711.c3b558"]]},{"id":"3841ded2.993922","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":1480,"wires":[]},{"id":"837d395f.6d71a8","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":1700,"wires":[]},{"id":"3e3c6a26.467b26","type":"change","z":"868294ef.afc6c8","name":"","rules":[{"t":"set","p":"Hu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1580,"wires":[["f64b9e6.d0ae06"]]},{"id":"f64b9e6.d0ae06","type":"debug","z":"868294ef.afc6c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1580,"wires":[]},{"id":"25f841d.45994be","type":"change","z":"868294ef.afc6c8","name":"","rules":[{"t":"set","p":"Temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1760,"wires":[[]]},{"id":"8b75cebd.bcf0c","type":"mqtt in","z":"868294ef.afc6c8","name":"","topic":"ledstate","qos":"2","datatype":"auto","broker":"36815b40.28cf34","x":970,"y":2000,"wires":[["52645214.b5136c","af797088.a8df7"]]},{"id":"52645214.b5136c","type":"ui_text","z":"868294ef.afc6c8","group":"d33a49e9.57d4a8","order":16,"width":0,"height":0,"name":"","label":"LEDState:","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":1960,"wires":[]},{"id":"af797088.a8df7","type":"debug","z":"868294ef.afc6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":2040,"wires":[]},{"id":"9d183c42.8a17c","type":"mqtt-broker","name":"broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1723f905.1a5b07","type":"mqtt-broker","name":"chon","broker":"192.168.43.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6537cef0.860c","type":"ui_group","name":"control","tab":"13f79511.7cd18b","order":1,"disp":true,"width":"6","collapse":false},{"id":"36815b40.28cf34","type":"mqtt-broker","name":"esp32","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d33a49e9.57d4a8","type":"ui_group","name":"status","tab":"13f79511.7cd18b","order":2,"disp":true,"width":"6","collapse":false},{"id":"13f79511.7cd18b","type":"ui_tab","name":"Home2","icon":"dashboard","disabled":false,"hidden":false}]